body{
    background-color: #222222;
}



#navigation{
    position: fixed;
    top: 2%;
    width: 70%;
    height: 95%;
    border: 1px solid;
    border-color: blanchedalmond;
}

#playlist{
    position: fixed;
    left: 71%;
    bottom: 2.75%;
    width: 28.5%;
    height: 45%;
    border: 1px solid;
    border-color: blanchedalmond;
}

#player{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 2%;
    left: 71%;
    width: 28.5%;
    height: 48%;
    border: 1px solid;
    border-color: blanchedalmond;
}

#progress{
    width: 80%;
}

.control {
    background-color: #222222;
    border-radius: 10px;
    border: none;
    margin: 10px;
    cursor: pointer;
    transition: all 10 ms;
    outline: none;
}

.control:hover{
  box-shadow: 0 4px #ababab;
  background-color: #cccccc;
}

.control:active{
  transform: translate(0,2px);
  box-shadow: 0 0 #ababab;
}


#slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;  
  background: #a5a5a5;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 10px;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%; 
  background: white;
  cursor: pointer;
}

#slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

